* {
  margin: 0;
  padding: 0;
  font-family: Arial, Helvetica, sans-serif;
  list-style-type: none;
}

.contaier {
  height: 95vh;
  box-shadow: -2px 5px 21px 1px rgba(45, 46, 51, 0.75);
}
@media (min-width: 768px) {
  .contaier {
    margin: 3em;
    height: 80vh;
  }
}
.contaier #map {
  z-index: 1;
  height: 70%;
}
.contaier #map .leaflet-bottom,
.contaier #map .leaflet-top {
  display: none;
}
.contaier header {
  padding-top: 20px;
  background: url("../images/pattern-bg.png");
  height: 30%;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.contaier header h1 {
  color: rgb(243, 231, 231);
}
.contaier header form {
  display: flex;
  align-items: center;
  padding-top: 20px;
}
.contaier header form #ip-input,
.contaier header form .submit-button {
  border: none;
}
.contaier header form #ip-input {
  height: 30px;
  width: 35vw;
  border-radius: 8px 0 0 8px;
  outline: none;
  padding-left: 15px;
}
.contaier header form .submit-button {
  height: 32px;
  width: 32px;
  border-left: none;
  border-radius: 0 8px 8px 0;
  color: #fff;
  background-color: #111;
  font-weight: 500;
}
.contaier header #info-container {
  z-index: 2;
  width: 60%;
  background-color: #fff;
  margin-top: 20px;
  padding: 20px;
  border-radius: 8px;
}
.contaier header #info-container ul {
  display: flex;
  justify-content: space-between;
}
@media (max-width: 556px) {
  .contaier header #info-container ul {
    flex-direction: column;
    align-items: center;
  }
}
.contaier header #info-container ul li {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  padding: 0 15px;
  gap: 15px;
}
.contaier header #info-container ul li:not(:first-child) {
  border-left: 1px solid grey;
}
@media (max-width: 556px) {
  .contaier header #info-container ul li {
    border: none !important;
    gap: 10px;
  }
}
@media (max-width: 556px) {
  .contaier header #info-container ul li .info-header,
.contaier header #info-container ul li .info-content {
    text-align: center;
  }
}
.contaier header #info-container ul li .info-header {
  text-transform: uppercase;
}
@media (min-width: 768px) {
  .contaier header #info-container ul li .info-header {
    align-self: flex-start;
  }
}
.contaier header #info-container ul li .info-content {
  font-weight: 600;
}
@media (max-width: 556px) {
  .contaier header #info-container ul li .info-content {
    margin-bottom: 20px;
  }
}